.board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	margin-inline: 1em;
	width: 40rem;
	height: 40rem;
	border: 2px solid black;
}

@media only screen and (max-width: 620px) {
	.board {
		margin-inline: 0;
	}
}
